.root {
  width: 400px;
  padding: 50px;
  border: 1px solid #dedede;
  margin: 50px auto;
}

.field {
  margin-bottom: 20px !important;
}

.title {
  text-align: center !important;
  font-weight: bold !important;
  margin-bottom: 30px !important;
}

.avatar {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.button {
  display: block;
  background: none;
  border: none;
  padding: 0;
  margin: 0 auto;
  cursor: pointer;
}

.avatarFull {
  border-radius: 100%;
  width: 100px;
  height: 100px;
  margin-bottom: 30px;
}
